.fa.set-center   
  - if flash[:errorfactor].present?
    .alert.alert-warning
      = flash[:errorfactor]
  %h1
    ثبت فاکتور
    - if @factor_type == 'customer'
      %span فروش
    - elsif @factor_type == 'cost'
      %span خرید
      
  
  .col-sm-12.pull-right
    = render 'form'
  
