فعالیت خود را با جمعی از  مهندسین و کارشناسان خلاق آغاز کردیم و برای مجموعۀ کاریمان نام تجاری «راش (Raush)» را برگزیدیم تا یادآور اهداف و آمال هایمان باشد. این مجموعه در شاخه های مختلف بطور حرفه ای و متناسب با نیازهای روز جامعه مشغول به کار است. 
فعالیتهای کلی مجموعه شامل هوشمند سازی ساختمان، نصب و راه اندازی دوربین و در زمینه کامپیوتر شاخه های راه اندازی و پشتیبانی شبکه های کامپیوتری، طراحی و تولید وب سایت، طراحی و تولید نرم افزار و پیشتیبانی سیستم های کامپیوتری می باشد که می توانید توضیحات جزئی مربوط به هر شاخه از فعالیت را در قسمت خدمات سایت مشاهده کنید.
امید اینست که بتوانیم همگام با استانداردهای جهانی و در سایه رضایت مشتری، گامی بس کوچک در راستای توسعه و پیشرفت شهر و کشورمان برداریم.

