%div     
  %h2.title= 'Admin Menu'
  %ul
    %li
      = link_to 'Admin Profile', edit_user_path(current_user)
    %li
      = link_to 'Manage Services', Service
    %li
      = link_to 'Manage Portfolio', Portfolio

   
