.phone.col-md-8
  
  .facebook
    = image_tag "face.png", height: "30",  width: "30"
    
  .language.fa
    Language  
    = link_to 'ENG', locale: :en
    \|
    = link_to 'FA', locale: :fa 
    
.address.col-md-4
  .addfooter
    %h4
      %strong No. 134 7th Ave KHazayi Rezashar Mashhad Iran
    %p
      %h5
        %strong TEL: 8783863             FAX: 8784128
    %p
      %h5
        %strong EMAIL: info@raush.ir
.clear-float
/ end FOOTER
