.phone.col-xs-12.col-sm-6.col-md-8
  .facebook
    = image_tag "ICON/Facebook_logo_(square).png", height: "60",  width: "60"
    = image_tag "ICON/email.png.png", height: "60",  width: "60"
    = image_tag "ICON/Facebook_logo_(square).png", height: "60",  width: "60"    
    
.address.col-xs-6.col-md-4
  .addfooter
    %h3
      %strong No. 134 7th Ave KHazayi Rezashar Mashhad Iran
    %p
    %h4
      %strong TEL: 8783863             FAX: 8784128
    %p
    %h4
      %strong EMAIL: info@raush.ir
.clear-float
/ end FOOTER
