%div  
  زندگی مدرن و هوشمند را با ما تجربه كنید
   
  برخی ویژگی های خانه هوشمند X10
   
   
  1.  قابلیت كنترل سیستم خانه هوشمند مبنا از طریق ریموت ، خط تلفن و اینترنت
   
  2. قابليت كنترل از طريق آيفون ، آيپد و يا اندرويد 
   
  3. قابلیت كنترل از طریق صفحه لمسی 7 اینچی
   
  4. قابلیت كنترل از طریق كامپیوتر با نرم افزار ویژه
   
  5.اجرا بدون نياز به تغيير در سيم كشي برق ساختمان 
   
  6. استفاده از ریموت كنترل خانه هوشمند به جای ریموت تلویزیون ،ویدئواسپلیت یونیت و ...
   
  7. امکان استفاده از کلید و پریزهای موجود در ساختمان
   
  8. قابلیت تعریف سناریو برای جلوگیری از تنطیمات مجدد
   
  9.خاموش يا روشن نمودن تمامي روشنايي ها با يك كليد بصورت همزمان 
   
  10.افزودن كنترلرهاي جديد حتي پس از نصب
   
  11.وجود تايمر برنامه ريزي و زمان بندي هر يك از روشنايي ها و پريزها
