%div
  سیستم مدیریت هوشمند هتل

  از آنجايي كه نياز به صرفه جويي در مصرف انرژي و كنترل هزينه داريم، 
  از آنجايي كه مي خواهيم در يك محيط راحت و آسوده اقامت كنيم، 
  از آنجايي كه به زيبايي محيط اقامت حساس هستيم، 
  ما پيشنهاد هاي جامع، مطمئن و انعطاف پذيري براي مديريت هوشمند هتل شما ارائه مي دهيم....
  اقامت در يك محيط راحت و آسوده با سيستم هوشمند مبنا
  مديريت تجهيزات روشنايي (ماژول هاي كنترل ديجيتال و آنالوگ روشنايي، كنترل هوشمند پرده ها، قابليت ديمري روشنايي)
  كنترل دماي سيستم گرمايش، سرمايش و تهويه مطبوع (كنترل فن كوئل، كنترل دور فن، كنترل شير هاي برقي، سنسور رطوبت و ...)
  كنترل هوشمند پرده ها و كركره ها
  ايجاد دسترسي به فضاهاي خاص براي ميهمانان ويژه
  مديريت رسانه (يكپارچه سازي سيستم صوتي و تصويري)
  کنترل ورود و خروج هتل
  مديريت پاركينگ براي ميهمانان ويژه
  قابلیت اطلاع رسانی وقايع به مديريت از طریق موبایل، sms و ...
  كنترل يكپارچه از طريق پنل مركزي لمسي
