$('.insert_row').html('<b>رکورد جدید به افراد مرتبط اضافه شد.</b>');
var last_child = $("#account_document_paid_to :last").val();
last_child = parseInt(last_child);
last_child += 1
$("#account_document_paid_to").append("<option value="+last_child+">#{@related_person.title}</option>");          
$("#account_document_paid_by").append("<option value="+last_child+">#{@related_person.title}</option>");          
