#show-about.diplaynone.servic-descriptipn1
  #axis.one.about-us.col-xs-6.pull-right{:class => I18n.locale}
    %div{:style => "margin:30px; padding-top:20px"}  
      - if I18n.locale == :fa
        .show-text-aboutus{:class => I18n.locale}
          = raw @page.text
      - else
        %p{:style => "direction:ltr; text-align:justify", :class => I18n.locale}
          = render 'shared/about_en'
  .col-xs-6.google-map-box.pull-left
    %h2.find-us-google-map{:class => I18n.locale}= t('find-us')
    %iframe{:height => "350px", :src => "https://www.google.com/maps/d/embed?mid=zbDi3iZxywyM.kok52aJMJoYc&z=13", :width => "640"}
    
  
