.total
  .menu
    #idhomeicon.servic-menuhome.servic-menu.bghome.fix-height{"div-name" => "idhome"}
      = image_tag "ICON/logo end.png",  width: "220", height: "100", :class => "go-center"
      
    #idbmsicon.servic-menu.bgbms.fix-height{"div-name" => "idbms"}
      = image_tag "ICON/Bms4.png", width: "108", height: "85"
      
    #idneticon.servic-menu.bgnet.fix-height{"div-name" => "idnet"}
      = image_tag "ICON/Network.png", width: "119", height: "91"
    
    #idwebicon.servic-menu.bgweb.fix-height{"div-name" => "idweb"}
      =image_tag "ICON/web.png", width: "108", height: "85"
      
    #idgraphicicon.servic-menu.bggraphic.fix-height{"div-name" => "idgraphic"}
      =image_tag "ICON/Design.png", width: "108", height: "85"
     
    #idcameraicon.servic-menu.bgcamera.fix-height{"div-name" => "idcamera"}
      =image_tag "ICON/cctv2 cam.png", width: "108", height: "85"
   
    .clear-float
    
  #idhome.servic-descriptipn.bghome.diplaynone{style: "display: block"}
    .servic-discription-pic pic
    .servic-discription-txt
      .text 
        
      .link des
      .clear-float
  #idbms.servic-descriptipn.bgbms.diplaynone
    .servic-discription-pic pic
    .servic-discription-txt
      .text txt
      .link des
      .clear-float
  #idnet.servic-descriptipn.bgnet.diplaynone
    .servic-discription-pic pic
    .servic-discription-txt
      .text txt
      .link des
      .clear-float
  #idweb.servic-descriptipn.bgweb.diplaynone
    .servic-discription-pic pic
    .servic-discription-txt
      .text txt
      .link des
      .clear-float
  #idgraphic.servic-descriptipn.bggraphic.diplaynone
    .servic-discription-pic pic
    .servic-discription-txt
      .text txt
      .link des
      .clear-float
  #idcamera.servic-descriptipn.bgcamera.diplaynone
    .servic-discription-pic pic
    .servic-discription-txt
      .text txt
      .link des
      .clear-float
  .footer
    .phone 34324234
    .address asadasd
    .clear-float
