
	<html>
	<!-- Upload this file to your root directory of the website you want to verify -->
	<!-- If you have multiple content managers or webmasters using site-seo-analysis.com, you can add the following div (div class="manager") from the other files and stack them next to each other in the body of one site-seo-analysis.com.html file. 
		Example: 
		
		<html>
			<head>
				<title>Site SEO Analysis Verification Tag</title>
			</head>
			<body>
				<div class="manager">001</div>
				<div class="manager">002</div>
				<div class="manager">003</div>
			</body>
		</html>	
	-->
		<head>
			<title>Site SEO Analysis Verification Tag</title>
		</head>
		<body>
			<p>If this does not start a download, please save this page and upload it to the root directory.</p>
			<div class="manager">520</div>
		</body>
	</html>