#order-online.servic-descriptipn1
  .width80.set-center
    %h2{:class => I18n.locale, :style => "color:#fff"}= t ('Order-Online')
    .order-online{:class => I18n.locale}
      = render "form" 
    .clear-float
  
  
