
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 
 *= require_self 

 *= require_tree .
 */
 
 
@charset "utf-8";

/* CSS Document */
html {left:0; right:0; top:0; bottom:0;  height:100vh;} 
body {color:#FFF; background:#01666e;left:0; background-size:cover; height:100vh;
right:0; top:0; bottom:0;margin:0px; position:relative} 
p, b, div {color:#FFF;}
.fix-height{min-height:100px;max-height:100px }
.clear-float{ clear:both}
.set-center { margin-right:auto; margin-left:auto}
.field-holder {width:50%;}
.diplaynone {display:none}
.fa, .fa p, .fa .control-label {direction:rtl; font-family: BYekan; text-align:right}
.en, .en p {direction:ltr; font-family: 'eras_light_itc'; text-align:left; font-weight:bold}

#fa {font-family: BYekan;}
#en {font-family: 'eras_light_itc';}
.mainmenu {position: absolute;
z-index: 100;
top:0;
height: 100px;
width: 100%;}
.icons {
right:0;
float: right;
width: 80%;}
.logo {
float: left;
width:20%;
left:0;
}

.icons .servic-menu .icon-for-nav {  
  background-repeat:no-repeat;
  background-position:50% 0;
  -webkit-transition: 0.2s;
    -moz-transition:    0.2s;
    -ms-transition:     0.2s;
    -o-transition:      0.2s;
    transition:         0.2s;
    width:100%; height:55px;
  }
.icons .servic-menu .icon-for-nav#bmsicon {background-image: url('bms1.png');}
.icons .servic-menu .icon-for-nav#cameraicon {background-image: url('camera1.png');}
.icons .servic-menu .icon-for-nav#webicon {background-image: url('web1.png');}
.icons .servic-menu .icon-for-nav#Graphicon {background-image: url('Graph1.png');}
.icons .servic-menu .icon-for-nav#Networkicon {background-image: url('Network1.png');}
.icons .servic-menu:hover .icon-for-nav {background-position:50% 100%;}
.icons p {color:#fff; font-size:1.2em; text-align:center; margin-top:5%;}
 .logo p {color:#fff; font-size:1.2em; text-align:center}
.logo .logo-small-size {display:none}
.logo  .bghome{ background:#01666e}
.icons .bgbms{background:#097b84}
.icons .bgnet{background:#118f99}
.icons .bgweb{background:#1da0aa}
.icons .bggraphic{background:#29b7c2}
.icons .bgcamera{background:#3ccad5}
.servic-menu{float:left  ;
 padding:1px ; height:100px; cursor:pointer ; text-align:center; width:19%;}
 .servic-menuhome{float:left ; width:100% ; padding:1px ; height:100px ;cursor:pointer}
.admin-menu {
font-family: 'gothic';
padding-left:5px; 
padding-top:5px; 
margin:2px; width:18%; 
height:auto; background:#12828B; overflow:hidden;
  margin-left:-185px;
  direction:rtl;
  float:right;
  position:fixed;
  text-align:left;
  -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
  transition: all 1s;
  z-index:10
  }
.admin-menu:hover {margin-left:0px; cursor:pointer; }
.admin-menu ul.items {margin-top: -25px; text-align:left; margin-right:5px; list-style:none}
.admin-menu ul.items li {height:20px; cursor:pointer; margin:1px; font-family: BYekan; }

.admin-menu ul.items li:hover a {color:#1E90FF;}
.admin-menu h5.title {font-weight:bold;
  width:80%;
  margin-right: -55px;
  margin-top: 10px;
  text-align:left;
  -webkit-transform: rotate(-90deg);
  -ff-transform: rotate(-90deg);
  transform: rotate(-90deg);

}
.main-div {  
  position: relative;
  min-height: 476px;
  width: 100%;
  top: 100px; 
  background:#01666e;  
  padding:3%;
  margin-bottom:6%;
  overflow-x:hidden;
}
#home {padding:5%;}
#home .button {width:60%}
.link .button { margin-left:40%; background:#06ccb3 ; margin-bottom:7px;
  position:relative; font-family: 'gothic'; width:35%;
   -webkit-transition: 0.2s;
    -moz-transition:    0.2s;
    -ms-transition:     0.2s;
    -o-transition:      0.2s;
    transition:         0.2s;}
.link .button .item {float:right ; width:70%; padding:10px; color:#fff; font-size:1.2em }
.link .button .icon { float:right ; width:30% ; background:#3edac6; text-align:center}
.link .button:hover {cursor:pointer; background:#4D4D4D;}
.footer{width:100%;height:100px;position:relative;z-index: 100; color:#00AD69}
.footer .phone{height:100%;color:#FFF; background:#00AD69;width:40%;float:right; padding:1%;}
.footer .address{
background:#FFF ;
 color:#00AD69;width:60%;float:left; padding:1%;
height:100%;
}
.footer .address .addfooter h4 strong, .footer .address .addfooter p strong {color:#00AD69;}
.footer .phone .facebook a img{
  -webkit-transition: 0.2s;
  -moz-transition:    0.2s;
  -ms-transition:     0.2s;
  -o-transition:      0.2s;
  transition:         0.2s;}
.footer .phone .facebook a:hover img{ -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";}
.link_to_pages {margin-top:5%}

.show-text-aboutus p {text-align:justify; font-size:1em; line-height:25px;
  color:#fff;
  }
.find-us-google-map {text-align:center; color:#fff}
.show-team-detail {margin:2%; display:none}
#team-bk {display:none}
.margin5 {margin:5px}

.order-online .form-group label{color:#fff}
.servic-descriptipn {margin-left: 5%;
margin-right: 5%;}
h2.title {color:#fff; text-align:center}
.sample_text_responsive .link {padding-top:10%}
.show-3box {height:330px; text-align:center; margin-top:2%; margin-bottom:5%; overflow:hidden;
-webkit-transition: 0.2s;
    -moz-transition:    0.2s;
    -ms-transition:     0.2s;
    -o-transition:      0.2s;
    transition:         0.2s;
}
.tariff-price-box {margin-bottom:2%;
  width: 90%;
margin-right: 5%;
margin-left: 5%;
}
.show-3box:hover .portfolio_img  img {-webkit-transition: 0.2s;
    -moz-transition:    0.2s;
    -ms-transition:     0.2s;
    -o-transition:      0.2s;
    transition:         0.2s;}
.show-3box:hover .portfolio_img  img {width:110%}
p.calculate_the_price { position:fixed; width:20%; 
height:10%;top:15%; right:30%; left:40%; 
background:#01666e#075056;
box-shadow: 1px 1px 1px #1A1A1A;
 }
p.calculate_the_price b.s p{font-size:20px; text-align:center}

.burchure-link {margin-bottom:4%; height:50px}
.burchure-link.link .button {width:45%;}
.burchure-link.link .button .icon{width:20%;}
.burchure-link.link .button .item { background:#06ccb3; height:40px}
.box-text {padding:1%}
.box-text h2 {color:#fff}
.box-text .details-text p{color:#fff}
.box-text .details-text.fa p, .box-text .details-text.fa p span{direction:rtl; font-family: BYekan; text-align:justify}
.tag-keywords {margin-top:5%;}
.details-text ul {list-style:cirle; color:#fff;}
.details-text.fa ul li{color:#fff; direction:rtl; font-family: BYekan; text-align:right}
.service-sample-image {left:-50%}
.service-sample-image-show {left:0}
.service-sample-text-show {right:0}
service-sample-text {right:-50%}
.subservice-text {right:-105%;}
.subservice-text-show {right:0;}


.bmsbgcolor {background-color:#097b84}
.netbgcolor {background-color:#118f99}
.webbgcolor {background-color:#1da0aa}
.graphicbgcolor{background-color:#29b7c2}
.camerabgcolor{background-color:#3ccad5}
.sunmenu {background:#06ccb3 ; display:none;
  margin-left:15%; margin-top:-8%;
  position:relative; font-family: 'gothic'; width:35%;
   -webkit-transition: 0.2s;
    -moz-transition:    0.2s;
    -ms-transition:     0.2s;
    -o-transition:      0.2s;
    transition:         0.2s;    
    }
.link .sunmenu .item {float:right ; width:70%; padding:10px; color:#fff; font-size:1.2em }
.link .sunmenu .icon { float:right ; width:30% ; background:#3edac6; text-align:center}
.link .sunmenu:hover {cursor:pointer; background:#4D4D4D;}
.header-date {width:30%; top: 3%; right:3%;
z-index: 100;
position: absolute;}
.header-date p {margin:0;}
.header-img, .factor_footer       {background:#fff}
.header-img img, .factor_footer  img{width:100%;}
.body-factor {background:#fff; padding-top:10%; padding-right:5%;
   padding-bottom:10%;}
.body-factor #account_table{width:90%; border:1px solid #4D4D4D}
.body-factor #account_table thead{background:#BFBFBF}
.body-factor #account_table tbody tr.sum.bolder{background:#7F7F7F;}
.body-factor #account_table tr{border:1px solid #4D4D4D}
.body-factor #account_table tr td, .body-factor #account_table tr th{border:1px solid #4D4D4D; text-align:center}

.show-factor {margin-bottom:5%; color:#000}
.show-factor p, .show-factor div, .show-factor span, .show-factor b{color:#000}
.tavajoh span, .tavajoh p, .tavajoh ul li {direction:rtl; font-family: BYekan; text-align:right}
.accounting {color:#fff; text-align:center; border-bottom:1px #fff solid}
.show-all-cusromers {margin-top:20%}
.partition {padding-top:5%}
.partition .boxes{text-align:center}
.partition .boxes:hover{background:#BFBFBF;}
.partition .boxes .title{text-align:center}
table.table tr th{color:#fff; text-align:right}
table.table tr td{color:#000; text-align:right}
.customer-info {color:#fff}
.sign {margin-top:5%}
.sign p{text-align:center; font-weight:bold}
table tr.takhfif {border-bottom:5px solid #ddd;}
table tr td.remove {background:#F15C5C}
table tr td.factor_type b, table tr td.taeed b{color:#000}
table tr td.remove a{color:#fff}
table tr td.remove:hover a{color:#000000}
table#account_table tr.even td{color:#fff} 
.factor_table {margin-bottom:5%}
a.paginate_disabled_previous, a.paginate_enabled_next {background:#fff; padding:1%; margin:1%;}

.dataTables_info {margin-bottom:5%; text-align:center}
.dataTables_paginate.paging_two_button {text-align:center}
.dataTables_paginate.paging_two_button a:hover{cursor:pointer; color:#000}

.not-nesesery {border:1px solid #ccc; height: 100px;
padding: 5%;}
.print-box {background:#1A1A1A; color:#fff; text-align:center; position:relative; height:80px; margin:1%}
.print-box.col-sm-2 {float:right}
.print-box:hover {background:#078932; }
.print-box a{position:absolute; width:100%; height:100%; top:0; left:0; right:0}
.print-box a, .print-box p{ color:#fff; text-align:center; }

.team-skill {padding:1%; text-align: center;}
.team-skill .skills-icon {margin:1%; }
.team-info {padding:2%;}
.team-info .team-text p, .team-info .team-text div, .team-info .team-text b{margin-bottom:2%}
.team-info .team-text.fa ul li{direction:rtl; font-family: BYekan; text-align:right}
#team-info.fa .team-info-box {float:right}
#team-info.en .team-info-box {float:left}
.team-info-box {background:#0f3c42; padding-top: 4%;opacity:.8; color:#fff; 
  border:#393F5A 2px solid;
  font-size:1.2em;
  min-height:70px !important;  padding:2%;
  margin:1%;}
.team-info-box.fa{ text-align:right;   }
.team-info-box.en{ text-align:left;   }
.team-info-box.fa.info-text, .team-info-box.fa.info-text p, .team-info-box.fa.info-text span, .team-info-box.fa.info-text ul, .team-info-box.fa.info-text ol
  {direction:rtl; font-family: BYekan; text-align:right}
.team-info-box.en.info-text{direction:ltr; font-family: 'eras_light_itc'; text-align:left; font-weight:bold}
.team-info-box.post {margin:2%}


tr.sum td b{color:#000}
