/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 
 *= require_self 
 *= require dataTables/jquery.dataTables
 *= require_tree .
 */
.field-holder {width:50%;}

.fa {direction:rtl; font-family: BYekan; text-align:right}
.en {direction:ltr; font-family: 'eras_light_itc'; text-align:left}
#fa {font-family: BYekan;}
#en {font-family: 'eras_light_itc';}

.mainmenu {position: fixed;
z-index: 100;
height:30%;
width: 100%;}

.icons {position: fixed;
left:25%;
float: left;
width: 82%;}

.logo {position: fixed;
float: left;
width:25%;
}



.our-team { 
  height:325px;

  overflow:hidden
}
.our-team .team-item{width:25%; float:right;    
  min-height:50%;
  max-height:50%;
  text-align:center;
}
.our-team .team-item .team-pic {width:90%; text-align:center}
.our-team .team-item .team-pic img{width:100%; }
.our-team .team-item .teams.post{background:#12828B; width:50%; height:25px; padding-top:5px }
.our-team .team-item .team-info{width:90%; height:1px; overflow:hidden;
 -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
  transition: all 1s; }
.our-team .team-item:hover .team-info{min-height:50px; background:#12828B; }

#b-details   #hotel .details-text{}
.admin-menu {
font-family: 'gothic';
padding-left:5px; 
padding-top:5px; 
margin:2px; width:15%; 
height:auto; background:#12828B; overflow:hidden;
  margin-left:-145px;
  direction:rtl;
  float:right;
  position:fixed;
  text-align:left;
  -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
  transition: all 1s;
  }
.admin-menu:hover {margin-left:0px; cursor:pointer; }
.admin-menu ul.items {margin-top: -25px; text-align:left; margin-right:5px; list-style:none}
.admin-menu ul.items li {height:20px; cursor:pointer; margin:1px}

.admin-menu ul.items li:hover a {color:#1E90FF;}
.admin-menu h5.title {font-weight:bold;
  width:80%;
  margin-right: -55px;
  margin-top: 10px;
  text-align:left;
  -webkit-transform: rotate(-90deg);
  -ff-transform: rotate(-90deg);
  transform: rotate(-90deg);

}

.btn {color:#000}

.prtofilo {
background:1a1a1a;
  opacity: 0.8;
}
.fa.width80 table tr th {text-align:right}
/* accounting */

.accounting {padding:10px}
.accounting .partition { width:100%}
.accounting .partition  .boxes {float:right; width:23%; border:#fff 2px solid; text-align:center; margin:10px; 
  height:200px;
}
.accounting .partition  .boxes h3.title {text-shadow: 1px 1px 1px #74B3F1;}
.accounting .partition  .boxes:hover {color:#74B0EB; cursor:pointer;}

.show-factor {border:2px solid #fff}
.show-factor  .header p{margin:10px}
.show-factor  .body-factor p{margin:10px}

.txt-center {text-align:center}
.show-3box {height:330px; text-align:center; margin-top:2%;}
.show-3box h4{font-family: 'gothic';}

.nano { width: 500px; height: 500px; }
.nano .nano-content { padding: 10px; }
.nano .nano-pane   { background: #888; }
.nano .nano-slider { opacity:.8; background:#BFBFBF}
table.table.table-striped tr td{color:#000;}
table.table.table-striped tr td a{color:#000;}
