/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.field-holder {width:50%;}

.fa {direction:rtl; font-family: 'open_sansregular'; text-align:right}
.en {direction:ltr; font-family: 'open_sansregular'; text-align:left}


.our-team {}
.our-team .team-item{width:30%; float:right; 
  background:#237360; 
  min-height:230px;
  max-height:230px;
  text-align:center;
}
.our-team .team-item .team-pic {width:90%; text-align:center}
.our-team .team-item .team-pic img{width:100%; }

#b-details   #hotel .details-text{-webkit-column-count:2; /* Chrome, Safari, Opera */
-moz-column-count:2; /* Firefox */
column-count:2;}
