@font-face {
    font-family: 'BYekan';
    src: font-url('/assets/BYekan.eot');
    src: font-url('/assets/BYekan.eot?#iefix') format('embedded-opentype'),
         font-url('/assets/BYekan.woff') format('woff'),
         font-url('/assets/BYekan.ttf') format('truetype'),
         font-url('/assets/BYekan.svg#open_sansregular') format('svg');
    
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ERASLGHT';
    
    src: font-url('/assets/ERASLGHT.eot');
    src: font-url('/assets/ERASLGHT.eot?#iefix') format('embedded-opentype'),
         font-url('/assets/ERASLGHT.woff') format('woff'),
         font-url('/assets/ERASLGHT.ttf') format('truetype'),
         font-url('/assets/ERASLGHT.svg#open_sansregular') format('svg');
    src: url('./gothic.eot');
    src: local('gothic'), url('./gothic.woff') format('woff'), url('./gothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

