/* Large desktop */
@media (min-width: 1200px) {  }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
  .logo .logo-full-size {display:block;}
 .logo .logo-small-size {display:none}
 }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .main-div {min-height:700px}
  .servic-descriptipn {height:85%}
  .link .button {width:50%}
 .logo .logo-full-size {display:none;}
 .logo .logo-small-size {display:block}
 .icons .servic-menu img {width:100%; height:70%;}
 .object.bache.van {width:100%}
 .object.bache.van.show { margin-top:10%; }
 .sample_image_responsive .object.bache.van {width:80%}
 .sample_image_responsive .object.bache.van.show { margin-top:0; left:10%; right:10%}
 .link_to_pages {clear:both; width:60%; left: 20%;right: 20%;}
 #show-about .about-us {clear:both; width:100%}
 .link.tariff_price .button.back {width: 45%;
  top: 80%;}
 .google-map-box {clear:both; width:100%}
 .google-map-box iframe {width:90%; height:200px;
  margin-left: 5%;
  margin-right: 5%
  }
  .button.back {width: 30%;
    bottom: -5%;}
  .new_order_online .btnw30{width:45%}
  #order-online h2 {text-align:center; color:#fff}
  .new_order_online label {color:#fff}
  .servic-descriptipn .sample_image_responsive{width:100%; clear:both; height:260px;text-align:center}
  .servic-descriptipn .sample_text_responsive{width:100%;clear:both}
  .servic-descriptipn .text.bacher.vanr.object.showr{margin-top:5px;
    width: 100%;   
    font-size: 30px;    
    text-align: center;
    right:0; left:0;
    }
  .prtofilo .sample-pic {width:100%; clear:both}
  .prtofilo .box-text {width:100%; clear:both}
  .sub-service-img {width:100%}
  .team-group .team-item{width:30%; margin:1%}
  }
/* Landscape phones and down */
@media (max-width: 480px) { 
  .servic-descriptipn {overflow-x:visible; padding-top:5%}
  .servic-descriptipn.text { color:#00FF00;
    font-size:4em;  }  
  .servic-descriptipn1 {padding-top:5%}
  .servic-descriptipn1#our-team, .servic-descriptipn1#lan {padding-top:10%}
  h2 { display: block; text-align: center; }  
  p { padding: 0; } 
  .logo {width:100%; clear:both}
  .icons {position: fixed;
    left: 0;
    float: left;
    width: 100%;
    top: 100px;
    right: 0;}
  .icons .servic-menu {width:20%; height:60px;}
  .icons .servic-menu img{width: 70%;
    height: 100%;}
  
  .servic-descriptipn .sample_image_responsive{width:100%; clear:both; height:260px;text-align:center}
  .servic-descriptipn .sample_text_responsive{width:100%;clear:both}
  .servic-descriptipn .sample_text_responsive .text{width:100%;
    margin-top:0;
    text-align:center; font-size:2.5em;
    }
  .servic-descriptipn .sample_text_responsive .text.showr {right:0;}
  .servic-descriptipn .sample_image_responsive img.show{margin-top:0; left:0; right:0;}
  .servic-descriptipn .sample_text_responsive .link .button {width:55%;}
  
  .servic-descriptipn .one.picture-sample img{width:100%}
  .servic-descriptipn .link_to_pages{width:100%; clear:both; margin-top: 30%;}
  .main-div {min-height:auto}
  .footer .responsive-phone-show {width:100%; clear:both; position:relative}
  .footer .responsive-phone-show .language{width:100%; clear:both; margin-top:0;
     text-align:center; font-size:1.5em; display:none;
    }
  .footer .responsive-phone-show .facebook{width:100%;margin-left:0; text-align:center; clear:both;
    
    }
  .footer .responsive-phone-show .facebook a img {width:50px; height:50px;}
  .footer .address {width:100%; clear:both}
  .footer .address h4, .footer .address h5, .footer .address p {text-align:center}
  .footer .address h4, .footer  {font-size:16px}
  #show-about .about-us, #show-about .google-map-box{width:100%; clear:both;}
  .diplaynone {position:relative; height:600px; }
  .button.back {width:30%}
  #order-online .width80 {width:100%}
  #order-online .width80 .btnw30{width:45%}
  #order-online .button.back{bottom: auto;}
  
  .our-team .team-item .team-pic {width:100%; overflow:hidden;}
  .our-team .team-item .team-pic img {width:100%;}
  #c-details .show-demo .sample-pic {width:100%; clear:both}
  #c-details .show-demo .sample-pic .sub-service-img{width:30%; }
  #c-details .show-demo .box-text, #b-details  .servic-descriptipn1 .box-text{width:100%; clear:both; padding:0}
  #c-details .show-demo .box-text .details-text{padding:0}
  #c-details .show-demo .box-text .details-text .nano-content{padding:0}
  #c-details .diplaynone{height:530px}
  #c-details .box-text p {color:#1A1A1A}
  #b-details .sample-pic {width:100%; clear:both}
}
/*
@media all and (max-width: 740px) {  
  h1 { font-size: 4.5em; color:#FF0000}  
  .servic-descriptipn.text { font-size: 4.5em; color:#FF0000}  
  h3 { font-size: 2.2em;color:#FF0000 }  
  h2 { display: block; text-align: center; color:#FF0000}  
  p { padding: 0; }  
}
@media all and (max-width: 570px) {  
  .servic-descriptipn.text { color:#A020F0}  
  h1 { color:#A020F0}  
  h3 { color:#A020F0}  
  h2 { display: block; text-align: center; color:#A020F0}  
  p { padding: 0; }  
}  
 
@media all and (max-width: 480px) {  
  .servic-descriptipn.text { color:#00FF00 }  
  h1 { color:#00FF00 }  
  h3 { color:#00FF00}  
  h2 { display: block; text-align: center;color:#00FF00 }  
  p { padding: 0; }  
}  
   
@media all and (max-width: 320px) {  
  .servic-descriptipn.text { color:#0000FF}  
  h1 { color:#0000FF}  
  h3 { color:#0000FF}  
  h2 { display: block; text-align: center; color:#0000FF}  
  p { padding: 0; }  
}  
*/  
/** iPhone only **/ 
/*
@media all and (max-device-width: 480px) {  
  h1 { font-size: 4.5em; }  
  h3 { font-size: 2.2em; }  
  h2 { display: block; text-align: center; }  
  p { padding: 0; }  
}
*/
