.fa.width80  
  %p#notice= notice

  %p
    %b Text:
    =raw @subservice.text
  
  %p
    %b Title:
    = @subservice.title
  

  = link_to 'Edit', edit_subservice_path(@subservice)
  \|
  = link_to 'Back', subservices_path
